branches:
    only:
        - v2

language: node_js
node_js:
    - lts/*
cache:
    directories:
        - node_modules

install:
    - npm install
script:
    - npm run build
    - echo '' > docs/.nojekyll
deploy:
    provider: pages
    on:
        branch: v2
    skip_cleanup: true
    local_dir: docs/
    token: ${TOKEN}
