<template>
    <textarea onchange="${host.bubbleOut.bind( host )}">
        Hello, ${view.name}!
    </textarea>
</template>

<link rel="stylesheet" href="cell-test.css">

<script>
    self['web-cell'].component(class CellTest extends HTMLElement {

        constructor() {  super().buildDOM();  }

        static get data() {  return  {name: 'Web components'};  }

        get value() {  return this.$('textarea')[0].value  }

        set value(raw) {  this.$('textarea')[0].value = raw;  }

        testInput(event) {

            const innerTarget = CellTest.targetOf( event );

            console.log(
                event.target.tagName,
                innerTarget.tagName,
                CellTest.indexOf( innerTarget )
            );
        }
    });
</script>
